.calculator {

    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 350px;
    height: 560px;
    border-radius: 10px;

    background-color: var(--color1);
    box-shadow:  24px 24px 48px #ca0f0f,
             -24px -24px 48px var(--bg-color);
}

.calculator .result {

    width: 100%;
    height: 25%;
    padding: 20px;

    color: var(--color4);

    display: flex;
    align-items: end;
    justify-content: right;
    position: relative;
}

.calculator .result > span {

    font-size: 3.3em;
    padding-inline: 10px;
    margin-left: 10px;

    display: inline-block;
    white-space: nowrap;

    user-select: none;
}

.calculator .result > span:nth-child(1) {

    color: rgb(192, 192, 192);
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    margin: 25px 20px 0 0;
}

.calculator .buttons {

    width: 100%;
    height: 75%;

    background-color: var(--color3);
    display: flex;
}

.buttons .numbers {

    height: 100%;
    width: 263px;

    background-color: var(--color4);

    display: grid;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
        "j k l"
        "m n o";
}


/* butoes. */
.buttons .btn {

    width: 87.5px;
    height: 84px;

    border: none;
    cursor: pointer;
    font-size: 1.5em;

    user-select: none;
}

.btn:hover {
    background-color: var(--color2);
}

.operators >.btn {
    background-color: var(--color2);
}
.operators > .btn:last-child{
    background-color: yellowgreen;
    color: white;
}
.operators > .btn:last-child:hover{
    background-color: rgb(141, 187, 50);
}

.operators >.btn:hover {
    background-color: #e7cfb9;
}

.numbers >.btn:nth-child(13) {
    grid-area: n;
}

.numbers>.btn:nth-child(1),
.numbers>.btn:nth-child(2),
.numbers>.btn:nth-child(3) {
    background-color: var(--color3);
}

.numbers>.btn:nth-child(1):hover,
.numbers>.btn:nth-child(2):hover,
.numbers>.btn:nth-child(3):hover {
    background-color: var(--color2);
}